<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Registro</title>
  </head>
  <body>
    <h2>Registro de Usuario</h2>
    <form method="POST">
      <input type="text" name="nombre" placeholder="Nombre" required /><br />
      <input type="email" name="correo" placeholder="Correo" required /><br />
      <input
        type="password"
        name="contraseña"
        placeholder="Contraseña"
        required
      /><br />
      <input
        type="number"
        name="facultad_id"
        placeholder="ID Facultad"
        required
      /><br />
      <button type="submit">Registrar</button>
    </form>
  </body>
</html>
